@import "../node_modules/bulma/bulma";

.header {
  background-color: #1fc8db;

  & .title {
    color: white;
    font-weight: bold;
  }

  padding: 20px 20px 25px 20px;
}

.button.accordion-toggle:not(.collapsed):before {
  display: inline-block;
  content: "▾\00a0";
  margin-right: 0;
  text-decoration: none;
  color: black;
}

.button.accordion-toggle.collapsed:before {
  display: inline-block;
  content: "▸\00a0";
  margin-right: 0;
  text-decoration: none;
  color: black;
}

.download-view--button + .download-view--button {
  display: inline-block;
  margin-left: 6px;
}

.sk-cube-text {
  margin-top: -30px;
  text-align: center;
}
