{{> header}}

<body>
  <div class="container">
    <h1>Video backup</h1>

    <h4>1. Select video</h4>

    <div class="panel panel-default">
      <div class="panel-body">
        <form action="download">
          <div class="form-group">
            <label for="inputUrl">URL:</label>
            <input type="text" class="form-control" id="inputUrl" name="url" placeholder="URL">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

{{> footer }}
